<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confetti Cuisine | Gallery</title>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/confetti_cuisine.css">
</head>

<body>
  <div id="nav">
    <div class="col-sm nav-align">
      <h1 id="title">Confetti Cuisine</h1>
    </div>
    <div class="col-sm nav-align">
      <a href="/"> <span class="button">Home</span> </a>
      <a href="/courses.html"> <span class="button">Courses</span> </a>
      <a href="/contact.html"> <span class="button">Contact</span> </a>
      <a href="/recipes.html"> <span class="button">Recipes</span> </a>
      <a href="/about.html"> <span class="button">About Us</span> </a>
    </div>
  </div>

  <div class="gallery-container">
    <h1>Our Cooking Gallery</h1>
    <div class="gallery-grid">
      <div class="gallery-item">
        <img src="/images/recipes.jpg" alt="Cooking Class" class="img-fluid">
        <h2>Student Recipes</h2>
        <p><cite>Photo by therealmealdeal.com</cite></p>
      </div>
      <div class="gallery-item">
        <img src="/images/dish.webp" alt="Prepared Dish" class="img-fluid">
        <h2>Dishes We Serve</h2>
        <p><cite>Photo by John Smith on Pexels</cite></p>
      </div>
      <div class="gallery-item">
        <img src="/images/home.jpg" alt="Student with Dish" class="img-fluid">
        <h2>Cooking Class</h2>
        <p><cite>Photo by goodfoodstudioza.com</cite></p>
      </div>
    </div>
  </div>
</body>

</html>
