<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confetti Cuisine | Recipes</title>
  <link rel="stylesheet" href="/confetti_cuisine.css">
</head>
<body>
  <div id="nav">
    <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>
    <div class="col-sm nav-align">
      <a href="/"> <span class="button">Home</span> </a>
      <a href="/courses.html"> <span class="button">Courses</span> </a>
      <a href="/contact.html"> <span class="button">Contact</span> </a>
      <a href="/gallery.html"> <span class="button">Gallery</span> </a>
      <a href="/about.html"> <span class="button">About Us</span> </a>
    </div>
  </div>
  <h1 id="title">Our Recipes</h1>
  <div class="container">
    
    <div class="card">
      <img src="/images/Paneer.jpg" alt="Spaghetti Carbonara">
      <p><cite>Photo by cubesnjuliennes.com</cite></p>
      <h2 >Panner Butter Masala</h2>
      <p>Paneer Masala is a creamy Indian curry made with paneer cubes cooked in a spiced onion-tomato gravy. The dish is finished with cream or yogurt and garnished with coriander leaves, making it perfect to serve with naan or rice.</p>
    </div>

    <div class="card">
      <img src="/images/chickencurry.jpg" alt="Chicken Curry">
      <p><cite>Photo by foodandwine.com</cite></p>
      <h2>Chicken Curry</h2>
      <p>Chicken Curry is a flavorful dish made by cooking chicken pieces in a spiced tomato-onion gravy. The curry is rich with aromatic spices like cumin, coriander, turmeric, and garam masala, simmered until the chicken is tender and infused with the flavors. It's perfect to serve with rice or naan.</p>
    </div>

    <div class="card">
      <img src="/images/chocolate.jpeg" alt="Chocolate Cake">
      <p><cite>Photo by thesweetrebellion.co.za</cite></p>
      <h2>Chocolate Cake</h2>
      <p>Chocolate Cake is a moist, rich dessert made with cocoa powder and layered with a velvety chocolate ganache. The cake is baked to perfection, offering a deep, indulgent chocolate flavor, perfect for celebrations or as a sweet treat.</p>
    </div>
  </div>
</body>
</html>
